@using MVCHtmlHempersDemo.Models
@model Employee
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    
</head>
<body>
    <div>
        @Html.DisplayName("Name")
        <br />
        <br />
        @Html.DisplayNameFor(x => x.DOB)
        <br />
        <br />
        @* For displaying value of property *@
        @Html.DisplayText("EmpName")
        <br/>
        <br/>
        @Html.DisplayTextFor(x => x.DOB)
        <br/>
        <br/>
        @Html.Display("Gaurav")
        <br/>
        <br/>
        @Html.DisplayFor(x =>x.IsEmployee)
        <br/>
        <br/>
        @* Display whole model *@
        @Html.DisplayForModel()


    </div>
</body>

</html>
<style>
    .display-label {
        background-color: darkgray;
    }

    .display-field {
        background-color: cornflowerblue;
    }
</style>
