<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @{
        var theme = Request.Cookies["theme"];
        var themeValue = theme != null ? theme.Value.Split('=')[1] : "undefined";
    }

    @{
        if (themeValue == "Lux")
        {
            @Styles.Render("~/Content/css1");

        }
        else if (themeValue == "SuperHero")
        {
            @Styles.Render("~/Content/css3");
        }
        else if (themeValue == "United")
        {
            @Styles.Render("~/Content/css2");
        }
        else
        {
            @Styles.Render("~/Content/css");
        }
    }


    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
            <div class="row text-right">
                <select name="theme" id="theme">
                    <option></option>
                    <option value="0">Lux</option>
                    <option value="1">United</option>
                    <option value="2">SuperHero</option>
                    <option value="3">Default</option>
                </select>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
