
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    
</head>
<body>
    <div>
        <p>
            @{
                int a = 1;
            }
        </p>
        <p>gaurav@{ @a;}.com</p>
    </div>
    <div>
        @{
            string message = "foreignObject example with Scalable Vector Graphics (SVG)";
        }

        <svg width="200" height="200" xmlns="http://www.w3.org/2000/svg">
            <rect x="0" y="0" rx="10" ry="10" width="200" height="200" stroke="black"
                  fill="none" />
            <foreignObject x="20" y="20" width="160" height="160">
                <p>@message</p>
            </foreignObject>
        </svg>
    </div>
    <div>
        <p>@DateTime.Now</p>
        <p>@DateTime.IsLeapYear(2016)</p>
        @*<p>@await DoSomething("hello", "world")</p>*@
        @*<p>@GenericMethod<int>()</p>*@

        <p>Last week this time: @(DateTime.Now - TimeSpan.FromDays(7))</p>
        @("<span>Hello World</span>")
    </div>
</body>
</html>
