@using MVCHtmlHempersDemo.Models
@model Employee
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <table>
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Name</td>
                    <td>Department</td>
                    <td>Salary</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Html.DisplayTextFor(x => x.EmpId)</td>
                    <td>@Html.TextAreaFor(x => x.EmpName)</td>
                    <td>@Html.TextBoxFor(x => x.Department)</td>
                    <td>@Html.CheckBoxFor(x => x.IsEmployee)</td>
                </tr>
            </tbody>

        </table>
    </div>
    <br />
    <br />
    <div>
        @using (Html.BeginForm("myForm"))
        {
            <hr />
            @Html.TextAreaFor(x => x.EmpName)
            <br />
            @Html.TextBoxFor(x => x.Department)
            <br />
            @Html.CheckBoxFor(x => x.IsEmployee)
            <br />
            <hr />
            <input type="submit" value="Register" />
        }
    </div>
</body>
</html>
